<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header2 :: common-head('Register Page')}"></head>

<body id="bg">
<div class="page-wraper">
  <!-- HEADER START -->
  <header th:replace="~{fragments/header2 :: header}">
  </header>
  <!-- HEADER END -->

  <div class="container" style="display: flex; justify-content: center; padding: 100px 0">
    <div class="register-container">
      <h2 class="text-center register-title">Register</h2>
      <div th:if="${error}" style="margin-bottom: 20px; color: red" th:text="${error}"></div>
      <form method="POST" action="/sbs/register">
        <div class="mb-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullname" name="fullname" required />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
        </div>
        <p class="text-center mt-3 mb-3">
          Already have an account? <a href="/sbs/login" style="color: #9b4e9b; text-decoration: underline;">Login</a>
        </p>
        <button type="submit" class="btn btn-purple w-100">Register</button>
      </form>
    </div>
  </div>


  <!-- FOOTER START -->
  <footer th:replace="~{fragments/footer :: footer}">

  </footer>
  <!-- FOOTER END -->

  <!-- BUTTON TOP START -->
  <button class="scroltop">
    <span class="iconmoon-house relative" id="btn-vibrate"></span>Top
  </button>
</div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
  <div class="loading-box"></div>
  <div class="loading-pic">
    <div class="cssload-container">
      <div class="cssload-progress cssload-float cssload-shadow">
        <div class="cssload-progress-item"></div>
      </div>
    </div>
  </div>
</div>
<!-- LOADING AREA  END ====== -->


<!-- JAVASCRIPT  FILES ========================================= -->
<div th:replace="~{fragments/script :: common-scripts}"></div>
</body>
</html>
