<!-- File: templates/fragments/header.html -->
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="admin-header">
    <div class="nk-header nk-header-fixed">
        <div class="container-fluid">
            <div class="nk-header-wrap">
                <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon"
                                                                data-target="sidebarMenu"><em
                        class="icon ni ni-menu"></em></a></div>
                <div class="nk-header-app-name">
                    <div class="nk-header-app-logo"><em class="icon ni ni-dashlite bg-purple-dim"></em></div>
                    <div class="nk-header-app-info"><span class="sub-text">DashLite</span><span
                            class="lead-text">Dashboard</span></div>
                </div>
                <div class="nk-header-menu is-light">
                    <div class="nk-header-menu-inner">
                        <ul class="nk-menu nk-menu-main">
                            <li class="nk-menu-item"><a th:href="@{admin}" class="nk-menu-link"><span
                                    class="nk-menu-text">Overview</span></a></li>
                            <li class="nk-menu-item"><a th:href="@{/}" class="nk-menu-link"><span
                                    class="nk-menu-text">Trang chủ</span></a></li>

                        </ul>
                    </div>
                </div>
                <div class="nk-header-tools">
                    <ul class="nk-quick-nav">

                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                                <div class="user-toggle">
                                    <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                    <div class="user-card">
                                        <div class="user-avatar"><span>AB</span></div>
                                        <div class="user-info"><span class="lead-text"></span><span
                                                class="sub-text"></span></div>
                                    </div>
                                </div>
                                <div class="dropdown-inner">
                                    <ul class="link-list">
                                        <li><a href="user-profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-inner">
                                    <ul class="link-list">
                                        <li><a href="../logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>