<!-- File: templates/fragments/head.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="admin-head">
  <meta charset="utf-8">
  <meta name="author" content="Softnio">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
  <link rel="shortcut icon" th:href="@{/dashboard/images/favicon.png}">
  <title>Analytics Dashboard | CMS | DashLite Admin Template</title>
  <link rel="stylesheet" th:href="@{/dashboard/assets/css/dashlite.css}">
  <link id="skin-default" rel="stylesheet" th:href="@{/dashboard/assets/css/theme.css}">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
</head>
</html>