<!-- File: templates/fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <div class="nk-sidebar" data-content="sidebarMenu" th:fragment="admin-sidebar">
        <div class="nk-sidebar-inner" data-simplebar>
            <ul class="nk-menu nk-menu-md">
                <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Dashboard</h6>
                </li>
                <li class="nk-menu-item"><a th:href="@{/admin}" class="nk-menu-link"><span class="nk-menu-icon"><em
                        class="icon ni ni-dashboard"></em></span><span class="nk-menu-text">Dashboard</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/blogs}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span class="nk-menu-text">Blogs</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/analysis}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span class="nk-menu-text">Weekly Analysis</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/services}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span class="nk-menu-text">Services</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/bookings/admin}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span class="nk-menu-text">Booking Management</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/staff}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span
                            class="nk-menu-text">Staff</span></a>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/product}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span
                            class="nk-menu-text">Product</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/product-materials}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span
                            class="nk-menu-text">Materials</span></a>
                </li>
                <li class="nk-menu-item">
                    <a th:href="@{/admin/staffs/schedule}" class="nk-menu-link"><span class="nk-menu-icon"><em
                            class="icon ni ni-template"></em></span><span
                            class="nk-menu-text">Staff Schedule</span></a>
                </li>
                <li class="nk-menu-item">
                    <a href="user-profile" class="nk-menu-link "><span class="nk-menu-icon"><em
                            class="icon ni ni-user-alt"></em></span><span class="nk-menu-text">Users</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>