<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header2::common-head}">
    <!-- PAGE TITLE HERE -->
    <title th:text="${pageTitle}">Default Title</title>
</head>

<body id="bg">

<div class="page-wraper">

    <!-- HEADER START -->
    <header th:replace="~{fragments/header2::header}">
    </header>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- BREADCRUMB ROW -->
        <div class="bg-gray-light p-tb20">
            <div class="container">
                <ul class="wt-breadcrumb breadcrumb-style-2">
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
                    <li>Services List</li>
                </ul>
            </div>
        </div>
        <!-- BREADCRUMB ROW END -->
        <div
                class="section-full overlay-wraper site-bg-primary"
                th:style="|background-image: url('@{/images/background/bg-7.jpg}')|"
        >
            <div class="section-content">
                <!-- COLL-TO ACTION START -->
                <div class="wt-subscribe-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                            </div>
                            <div class="col-md-3">
                                <div class="call-to-action-right p-tb30">
                                    <a
                                            th:href="@{/admin/services/add}"
                                            class="site-button-secondry text-uppercase radius-sm font-weight-600"
                                    >
                                        Add new Service
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50">
            <div class="container">

                <!-- BLOG POST START -->

                <!-- COLUMNS 1 -->
                <div class="blog-post blog-md date-style-1 clearfix" th:each="s : ${services}">

                    <div class="wt-post-media wt-img-effect zoom-slow">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/de9Mhw2dU60"></iframe>

                    </div>
                    <div class="wt-post-info">

                        <div class="wt-post-title ">
                            <h3 class="post-title" th:text="${s.name}"><a href="blog-single.html">Blogpost With
                                Youtube</a></h3>
                        </div>
                        <div class="wt-post-meta ">
                            <ul>
                                <li class="post-date"><i class="fa fa-credit-card"></i><span
                                        th:text="'Giá: ' + ${#numbers.formatCurrency(s.price)}">Price</span></li>
                                <li class="post-author"><i class="fa fa-clock-o"></i><span
                                        th:text="'Thời lượng: ' + ${s.duration} ">Time</span></li>
                            </ul>
                        </div>
                        <div class="wt-post-text" th:utext="${s.content}">
                        </div>
                        <div class="clearfix">
                            <div class="wt-post-readmore pull-left">
                                <a th:href="@{/admin/services/{id}(id=${s.getServiceId()})}" title="READ MORE" rel="bookmark"
                                   class="site-button-link">Read
                                    More</a>
                            </div>
                            <div class="wt-post-readmore pull-left" style="padding-left: 10px">
                                <a th:href="@{/admin/services/edit/{id}(id=${s.getServiceId()})}" title="READ MORE" rel="bookmark"
                                   class="site-button-link">Edit</a>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- BLOG POST END -->

                <!-- PAGINATION START -->
                <div class="pagination-bx clearfix ">
                    <ul class="custom-pagination pagination-1">
                        <li><a href="#">&laquo;</a></li>
                        <li class="page-item" th:each="pageNum : ${pageNumbers}"
                            th:classappend="${pageNum == (services.number + 1)} ? 'active' : ''">
                            <a class="page-link"
                               th:href="@{/admin/services(page=${pageNum - 1}, size=${services.size})}"
                               th:text="${pageNum}"
                               th:title="'Trang ' + ${pageNum}">1</a>
                        </li>

                    </ul>
                </div>
                <!-- PAGINATION END -->

            </div>
        </div>
        <!-- SECTION CONTENT END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <footer th:replace="~{fragments/footer :: footer}">

    </footer>
    <!-- FOOTER END -->

    <!-- BUTTON TOP START -->
    <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>Top</button>

</div>


<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-container">
            <div class="cssload-progress cssload-float cssload-shadow">
                <div class="cssload-progress-item"></div>
            </div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->
<!-- STYLE SWITCHER  ======= -->
<div class="styleswitcher">

    <div class="switcher-btn-bx">
        <a class="switch-btn">
            <span class="fa fa-cog fa-spin"></span>
        </a>
    </div>

    <div class="styleswitcher-inner">
        <h6 class="switcher-title">Color Skin</h6>
        <ul class="color-skins">
            <li>
                <a
                        class="theme-skin skin-1"
                        th:href="@{/css/skin/skin-1}"
                        title="default Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-2"
                        th:href="@{/css/skin/skin-2}"
                        title="pink Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-3"
                        th:href="@{/css/skin/skin-3}"
                        title="sky Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-4"
                        th:href="@{/css/skin/skin-4}"
                        title="green Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-5"
                        th:href="@{/css/skin/skin-5}"
                        title="red Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-6"
                        th:href="@{/css/skin/skin-6}"
                        title="orange Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-7"
                        th:href="@{/css/skin/skin-7}"
                        title="purple Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-8"
                        th:href="@{/css/skin/skin-8}"
                        title="blue Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-9"
                        th:href="@{/css/skin/skin-9}"
                        title="gray Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-10"
                        th:href="@{/css/skin/skin-10}"
                        title="brown Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-11"
                        th:href="@{/css/skin/skin-11}"
                        title="gray Theme"
                ></a>
            </li>
            <li>
                <a
                        class="theme-skin skin-12"
                        th:href="@{/css/skin/skin-12}"

                        title="golden Theme"
                ></a>
            </li>
        </ul>

        <h6 class="switcher-title">Nav</h6>
        <ul class="nav-view">
            <li class="nav-light active">Light</li>
            <li class="nav-dark">Dark</li>
        </ul>

        <h6 class="switcher-title">Nav</h6>
        <ul class="nav-width">
            <li class="nav-boxed active">Boxed</li>
            <li class="nav-wide">Wide</li>
        </ul>

        <h6 class="switcher-title">Header</h6>
        <ul class="header-view">
            <li class="header-fixed active">Fixed</li>
            <li class="header-static">Static</li>
        </ul>

        <h6 class="switcher-title">Layout</h6>
        <ul class="layout-view">
            <li class="wide-layout active">Wide</li>
            <li class="boxed">Boxed</li>
        </ul>

        <h6 class="switcher-title">Background Image</h6>
        <ul class="background-switcher">
            <li>
                <img
                        th:src="@{/images/switcher/switcher-bg/thum/bg1.jpg}"
                        rel="images/switcher/switcher-bg/large/bg1.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-bg/thum/bg2.jpg}"
                        rel="images/switcher/switcher-bg/large/bg2.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-bg/thum/bg3.jpg}"
                        rel="images/switcher/switcher-bg/large/bg3.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-bg/thum/bg4.jpg}"
                        rel="images/switcher/switcher-bg/large/bg4.jpg"
                        alt=""
                />
            </li>
        </ul>

        <h6 class="switcher-title">Background Pattern</h6>
        <ul class="pattern-switcher">
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg1.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt1.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg2.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt2.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg3.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt3.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg4.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt4.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg5.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt5.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg6.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt6.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg7.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt7.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg8.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt8.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg9.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt9.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg10.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt10.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg11.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt11.jpg"
                        alt=""
                />
            </li>
            <li>
                <img
                        th:src="@{/images/switcher/switcher-patterns/thum/bg12.jpg}"
                        rel="images/switcher/switcher-patterns/large/pt12.jpg"
                        alt=""
                />
            </li>
        </ul>
    </div>
</div>
<!-- STYLE SWITCHER END ==== -->

<!-- JAVASCRIPT  FILES ========================================= -->
<div th:replace="~{fragments/script :: common-scripts}"></div>
</body>

</html>

