<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/crudUser/editCustomer.css">
</head>
<body>
<form th:action="@{/edit_customer}" method="post">
    <div class="avatar-upload" id="drop-area">
        <input type="file" id="fileElem" accept="image/*" style="display:none" onchange="handleFiles(this.files)">
        <label for="fileElem" class="avatar-label">
            <img id="avatarPreview" src="https://via.placeholder.com/80" alt="Avatar" />
        </label>
    </div>
    <label class="editLabel">Username</label>
    <input type="text" name="" id=""><br><br>
    <label class="editLabel">Password</label>
    <input type="password" name="" id=""><br><br>
    <label class="editLabel">Full Name</label>
    <input type="text" name="" id=""><br><br>
    <label class="editLabel">Phone</label>
    <input type="tel" name="" id=""><br><br>

    <button type="submit">Edit</button>
    <button type="reset">Cancel</button>

</form>
</body>
<script src="js/editCustomerAvatar.js"></script>
</html>