<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: common-head}">
    <title th:text="${pageTitle}">Blog Details</title>
</head>
<body id="bg">
<div class="page-wraper">

    <!-- HEADER -->
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- BREADCRUMB -->
    <div class="bg-gray-light p-tb20">
        <div class="container">
            <ul class="wt-breadcrumb breadcrumb-style-1">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/admin/blogs}">Blog Management</a></li>
                <li th:text="${blog.title}">Blog Title</li>
            </ul>
        </div>
    </div>

    <!-- PAGE CONTENT -->
    <div class="page-content">
        <div class="section-full p-t80 p-b50">
            <div class="container">

                <div class="row">
                    <!-- Main Content -->
                    <div class="col-md-8">
                        <div class="blog-post blog-single">
                            <!-- Thumbnail -->
                            <img th:src="${blog.getThumbnailUrl()}" alt="Blog thumbnail">

                            <!-- Title -->
                            <h1 class="m-b20" th:text="${blog.title}">Blog Title</h1>

                            <!-- Meta info -->
                            <div class="wt-post-meta m-b30">
                                <ul>
                                    <li><i class="fa fa-calendar"></i>
                                        <span th:if="${blog.publishedAt != null}"
                                              th:text="'Published: ' + ${#temporals.format(blog.publishedAt,'dd/MM/yyyy')}">
                                        </span>
                                        <span th:unless="${blog.publishedAt != null}"
                                              th:text="'Created: ' + ${#temporals.format(blog.createdAt,'dd/MM/yyyy')}">
                                        </span>
                                    </li>
                                    <li th:if="${blog.authorName != null}">
                                        <i class="fa fa-user"></i>
                                        <span th:text="'By: ' + ${blog.authorName}">Author</span>
                                    </li>
                                    <li th:if="${categoryName != null}">
                                        <i class="fa fa-folder"></i>
                                        <span th:text="${categoryName}">Category</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-eye"></i>
                                        <span th:text="${blog.viewCount} + ' views'">0 views</span>
                                    </li>
                                </ul>
                            </div>

                            <!-- Content -->
                            <div class="wt-post-text m-b40" th:utext="${blog.content}">
                                <!-- Blog HTML content -->
                            </div>

                            <!-- Tags -->
                            <div class="wt-post-tags">
                                <i class="fa fa-tags"></i>
                                <span th:each="tag : ${blog.tags}">
                                    <a href="#" class="tag" th:text="${tag}">Tag</a>
                                </span>
                            </div>

                            <!-- Related Posts -->
                            <div class="related-posts m-t50">
                                <h5>Related Blog Post</h5>
                                <div class="row">
                                    <div class="col-sm-6" th:each="rel : ${relatedBlogs}">
                                        <div class="related-blog">
                                            <h6>
                                                <a th:href="@{/admin/blogs/{id}(id=${rel.blogId})}"
                                                   th:text="${rel.title}">Related Title</a>
                                            </h6>
                                            <p th:text="${#strings.substring(rel.excerpt,0,100) + '...'}">Excerpt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Comments -->
                            <!--                            <div class="comments-section m-t50">-->
                            <!--                                <h5 th:text="  ' Comments'">0 Comments</h5>-->
                            <!--                                <div th:each="cmt : ${blog.comments}">-->
                            <!--                                    <div class="comment">-->
                            <!--                                        <p class="comment-author" th:text="${cmt.authorName}">User</p>-->
                            <!--                                        <p class="comment-date" th:text="${#temporals.format(cmt.createdAt,'dd/MM/yyyy HH:mm')}">Date</p>-->
                            <!--                                        <div class="comment-body" th:text="${cmt.content}">Comment text</div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                        </div>
                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar">
                            <!-- Search -->
                            <div class="widget">
                                <h6 class="widget-title">Search</h6>
                                <form th:action="@{/admin/blogs}" method="get">
                                    <input type="text" name="keyword" class="form-control"
                                           placeholder="Search blogs...">
                                </form>
                            </div>

                            <!-- Categories -->
                            <div class="widget">
                                <h6 class="widget-title">Categories</h6>
                                <ul>
                                    <a th:href="@{/admin/blogs(categoryId=${categoryId})}"
                                       th:text="${categoryName}">Category</a>
                                </ul>
                            </div>

                            <!-- Recent Posts -->
                            <div class="widget widget_services">
                                <h4 class="widget-title">Recent Posts</h4>
                                <ul>
                                    <li th:each="rp : ${recentBlogs}">
                                        <a th:href="@{/admin/blogs/{id}(id=${rp.blogId})}"
                                           th:text="${rp.title}">Recent Title</a>
                                        <span
                                                th:text="${#temporals.format(rp.publishedAt,'dd/MM/yyyy')}">Date</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>

</div>

<!-- COMMON SCRIPTS -->
<div th:replace="~{fragments/script :: common-scripts}"></div>
</body>
</html>